<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string></string>
	</array>
	<key>Fontspring-DEMO-cerapro-medium.otf</key>
	<string></string>
	<key>Rubik-Medium.ttf</key>
	<string></string>
	<key>OpenSans-VariableFont_wdth,wght</key>
	<string></string>
</dict>
</plist>
